# Provisioning datasource Prometheus agar Grafana bisa baca metrics
# Tanpa file ini, di UI tidak ada datasource dan dashboard tidak bisa menampilkan data
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    uid: prometheus
